html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	font-family: sans-serif;
}

.test-form{
	
}
.test-form .row{
	position: relative;
	margin-bottom: 10px;
}
.test-form label{
	display: inline-block;
	width: 70px;
	font-size: 12px;
}
.test-form select,
.test-form input{
	display: block;
	position: absolute;
	left: 75px;
	right: 5px;
	top:0px;
}
.test-form .buttonRow{
	text-align: right;
}
.test-form a{
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
