body{
	font-family: sans-serif;
}
.ChildWidget{
	border: 1px solid #ccc;
	background: #eee;
	padding: 3px;
}
.ParentWidget{
	border: 1px solid #FFAFAF;
	background: #FCFFCE;
	padding: 3px;
	margin: 10px 0;
}
.ParentWidget h3{
	background: #494E9B;
	color: #fff;
	padding: 3px;
	margin: 3px 0;
}
.footer{
	background: #ff0000;
	color: #fff;
	padding: 3px;
	margin-top: 5px;
}
.basic{
	font-size: 12px;
}
.big{
	font-size: 18px;
}
.small{
	font-size: 9px;
}

.base-list-row{
	padding: 3px;
}
.base-list-row:nth-child(even){
	background: #eee;
}
.base-list-row.selected,
.base-list-row.selected:nth-child(even){
	background: #C6EFF4;
}
.base-list-pair{
	display: inline-block;
}
.base-list-label{
	display: inline-block;
	color: #999;
	margin-right: 3px;
}
.base-list-text{
	display: inline-block;
	color: #333;
	margin-right: 6px;
}

.base-grid{
	
}
.base-grid table{
	width: 100%;
	border-collapse: collapse;
}
.base-grid th{
	text-align: left;
	background: #eee;
	padding: 3px;
	font-weight: normal;
	border: 1px solid #ccc;
	border-bottom-width: 0;
}
.base-grid td{
	padding: 3px;
	border: 1px solid #ccc;
}