.off{
	display: none;
}
.base-link{
	/*div styled as a link*/
	text-decoration: underline;
	color: #0000CE;
	cursor: pointer;
	padding: 5px 0;
}
.base-link:hover{
	color: #0000ff;
}

.base-form-list{
	
}
.base-form-list label{
	border: 0px solid #ff0000;
	height: 20px;
	position: relative;
	padding-top: 5px;
	max-width: 300px;
	cursor: pointer;
}
.base-form-list label *{
	vertical-align: middle;
}
.base-checkbox input[type=checkbox]{
	display: none;
}
.base-switch{
	position: absolute;
	top:5px;
	right: 1px;
	display: inline-block;
	width: 40px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 20px;
	transition: background 500ms;
}
.base-switch:before{
	content:'';
	position: absolute;
	top:4px;
	left: 9px;
	width: 0;
	height: 10px;
	border-left:3px solid #fff;
}
.base-switch:after{
	content:'';
	position: absolute;
	top:5px;
	right: 4px;
	width: 7px;
	height: 7px;
	border: 2px solid #ccc;
	border-radius: 10px;
}
.base-switch-highlight{
	
}
.base-switch-handle{
	position: absolute;
	z-index: 1;
	top:-1px;
	left: -1px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: left 500ms;
}
.base-checkbox input[type=checkbox]:checked + .base-switch .base-switch-handle{
	left: 20px;
	border-color: #5E5ED6;
}
.base-checkbox input[type=checkbox]:checked + .base-switch{
	border-color: #0000ff;
	background: #849BFF;
}

button, .base-button{
	position: relative;
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
	cursor: pointer;
	height: 30px;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
}
.base-button{
	line-height: 27px;
}
.base-button-wrap{
	margin-top: 10px;
	position: relative;
}
.base-button-wrap.right{
	text-align: right;
	left: 1px;
}
.base-button:disabled,
button:disabled,
.base-dropdown.disabled{
	background: #eee;
	color: #ccc;
	cursor: default;
}


/* dropdown */
.base-dropdown{
	padding-left: 3px;
	text-align: left;
}
.base-dropdown:after{
	content: '\25BC';
	position: absolute;
	top:1px;
	right: 7px;
	width: 12px;
	height: 12px;
	font-size: 12px;
	color: #848491;
}
@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
.base-dropdown.loading:after,
.base-field.loading:after{
	content:'\21BB';
	font-size: 18px;
	top: 8px;
	right: 6px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	-webkit-animation: spin 1s infinite linear;
}

/* menu */
.base-menu{
	position: absolute;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}
.menu-container{
	padding: 5px;
	background: #fff;
}
.menu-item{
	font-size: 14px;
	padding: 5px 8px 5px 15px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
}
.menu-item:hover{
	background: #484675;
	color: #fff;
}
.menu-item.selected:before{
	content: '\2714';
	position: absolute;
	top:4px;
	left:3px;
	width: 12px;
	height: 12px;
	font-size: 10px;
}


/* fields (inputs, form components) */
.base-field{
	border: 1px solid #ccc;
	background-color: #fff;
	color: #000;
	box-sizing: border-box;
	padding: 3px;
	font-size: 14px;
	height: 32px;
	line-height: 27px;
	min-height: 16px;
	min-width: 100px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2) inset;
}
input.base-field{
	height: 30px;
	line-height: 30px;
	border: 0;
	box-shadow: none;
	background: transparent;
	position: relative;
	top: -3px;
}
.base-field.disabled{
	background: #eee;
	color: #666;
}
.base-field.invalid{
	border-color: #ff0000;
	background: #FCEDED;
}
.base-input-wrap{
	box-sizing: border-box;
}
.base-input-wrap input{
	width: 100%;
	box-sizing: border-box;
}

/* autocomplete */
.base-autocomplete{
	/*width: 120px;*/
	cursor: text;
	position: relative;
}
.base-autocomplete:after{
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top:5px;
	right: 2px;
	background-image: url(./mobile_icons.png);
	background-position: 0 -90px;
	
}
.base-autocomplete.loading:after{
	background-image: none;
}
.base-autocomplete-container{
	position: absolute;
	top:-35px;
	left:0;
	width: 100%;
	height: 37px;
	border: 1px solid #ccc;
	background: #fff;
	transition: top 500ms ease;
}
.base-autocomplete-container.show{
	top:0px;
}

.base-autocomplete-inputwrap{
	display: block;
	position: absolute;
	top:4px;
	left:2px;
	right:55px;
	bottom: 2px;
	width: auto;
	padding-left: 4px;
}
.base-autocomplete-input{
	width: 100%;
	padding-left: 4px;
}
.base-autocomplete-input.disabled{
	background: #eee;
	color: #666;
}
.base-autocomplete-done{
	position: absolute;
	width: 45px;
	top:2px;
	bottom:1px;
	right: 6px;
	font-size: 12px;
}
.base-autocomplete-done:hover{
	background: #1C2E7F;
	color: #fff;
}

.base-autocomplete-popup{
	position: absolute;
	top:35px;
	left:0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	/*background: #F2D0D0;*/
}
.base-autocomplete-list{
	background: #fff;
	color: #000;
	padding: 5px;
	/*background: #EFEAC9;*/
}
.base-autocomplete-item{
	border-bottom: 1px solid #999;
	padding: 5px 0;
	cursor: pointer;
}
.base-autocomplete-item:hover{
	background: #1C2E7F;
	color: #fff;
}


/* views */
.base-view{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	width: auto;
	height: auto;
	background: #ff;
}

.base-view-header{
	position: absolute;
	top:0;
	left:0;
	right:0;
	width: auto;
	background: #162a38;
	color: #fff;
	font-weight: normal;
	text-align: center;
	height: 33px;
	line-height: 38px;
	display: none;
	border-bottom: 1px solid #999;
}

.base-view-container{
	position: absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom: 5px;
	width: auto;
	height: auto;
	border: 1px solid #fff;
	background: #fff;
	padding: 10px;
}

.base-view-footer{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	width: auto;
	background: #C9D0E5;
	color: #303747;
	text-align: left;
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	display: none;
	border-top: 1px solid #999;
}

.base-view.hasHeader .base-view-container{ top:35px; }
.base-view.hasHeader .base-view-header{ display: block; }
.base-view.hasFooter .base-view-container{ bottom:35px; }
.base-view.hasFooter .base-view-footer{ display: block; }

.base-view-back{
	position: absolute;
	top:5px;
	left: 7px;
	font-weight: normal;
	font-size: 11px;
	width: 36px;
	height: 25px;
	line-height: 26px;
	padding-left: 5px;
	cursor: pointer;
	color: #fff;
	background: url(./mobile_icons.png) no-repeat -40px -60px;
}
.Xbase-view-back{
	position: absolute;
	top:5px;
	left: 10px;
	font-weight: normal;
	font-size: 11px;
	/*border: 3px solid #eee;*/
	border-radius: 5px;
	height: 20px;
	line-height: 20px;
	padding: 0 3px;
	cursor: pointer;
}
.Xbase-view-back > span{
	position: relative;
	z-index: 2;
}
.Xbase-view-back:before{
	content: '';
	display: block;
	left: -5px;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	/*border-width: 0px 0px 3px 3px;
	border-style: solid;
	border-color: #eee;*/
	position: absolute;
	/*z-index: 1;*/
	top:50%;
	-webkit-transform: scale(0.75, 1) rotate(45deg);
	transform: scale(0.75, 1) rotate(45deg);
}
.Xbase-view-back,
.Xbase-view-back:before{
	background: #7688E0;
}
.Xbase-view-back:hover,
.Xbase-view-back:hover:before{
	background: #1C2E7F;
}

.base-view-nav-button{
	display: block;
	width: 100%;
	margin: 4px 0;
	border: 1px solid #ccc;
	background: #fff;
	box-sizing: border-box;
	position: relative;
	font-size: 14px;
	text-align: left;
	padding-left: 10px;
	height: 50px;
	line-height: 24px;
	cursor: pointer;
	font-weight: normal;
	color: #333;
}

.base-view-nav-button.icon{
	padding-left: 40px;
}
.base-view-nav-button.icon:before,
.base-view-nav-button:after{
	content:'';
	display: block;
	position: absolute;
	top:50%;
	margin-top: -15px;
	left:6px;
	width:33px;
	height: 30px;
	background-image: url(./mobile_icons.png);
	background-repeat: no-repeat;
}
.base-view-nav-button.icon.search:before{
	background-position: 0 0;
}
.base-view-nav-button.icon.raw-data:before{
	background-position: -40px -31px;
}
.base-view-nav-button.icon.charts:before{
	background-position: -80px 0;
}
.base-view-nav-button.icon.legend:before{
	background-position: -40px -87px;
}
.base-view-nav-button.icon.profile:before{
	background-position: -80px -90px;
}
.base-view-nav-button:hover{
	background: #ccc;
	color: #fff;
}
/*.base-view-nav-button:hover:after{
	border-color: #fff;
}*/
.base-view-nav-button:after{
	left:auto;
	right: 10px;
	top:50%;
	background-position: 0 -60px;
}

.base-pane{
	position: absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom: 5px;
	width: auto;
	height: auto;
	background: #D3E0E5;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 5px;
}
















/* list */
.base-list-header{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	background: #eee;
	padding: 3px;
}
.base-list-container{
	position: absolute;
	top:30px;
	left:0;
	right:0;
	bottom: 0;
	overflow: auto;
}
.base-list-row{
	padding: 10px 3px;
}
.base-list-pair{
	display: inline-block;
	padding: 5px 2px;
	font-size: 12px;
}
.base-list-label{
	display: inline-block;
	color: #999;
	margin-right: 3px;
	font-style: italic;
}
.base-list-text{
	display: inline-block;
	color: #333;
	margin-right: 6px;
}

.base-list-row:nth-child(even){
	background: #eee;
}
.base-list-row.selected,
.base-list-row.selected:nth-child(even){
	background: #DCF2F4;
	border: 1px solid #99DCE5;
}





/* grid */
.base-grid{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.base-grid-row:nth-child(even){
	background: #eee;
}
.base-grid-row.selected,
.base-grid-row.selected:nth-child(even){
	background: #C6EFF4;
}

.base-grid-container{
	height: auto;
	width: auto;
	position: absolute;
	top:25px;
	left:0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
}
.base-grid-header{
	overflow: hidden;
}
.base-grid table{
	border-collapse: collapse;
}
.base-grid th{
	text-align: left;
	background: #eee;
	padding: 3px;
	font-weight: normal;
	border: 1px solid #ccc;
	border-bottom-width: 0;
}
.base-grid td{
	padding: 3px;
	border: 1px solid #ccc;
}





.base-pane.home button{
	display: block;
	width: 100%;
	margin: 10px 0;
	border: 3px solid #999;
	background: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	position: relative;
	font-size: 18px;
	text-align: left;
	padding-left: 10px;
	height: 50px;
	line-height: 24px;
	cursor: pointer;
	font-weight: bold;
	color: #333;
}
.base-pane.home button:hover{
	background: #0000ff;
	color: #fff;
}
.base-pane.home button:hover:after{
	border-color: #fff;
}
.base-pane.home button:after{
	content:'';
	display: block;
	width: 10px;
	height: 10px;
	border-width: 3px 3px 0px 0px;
	border-style: solid;
	border-color: #666;
	position: absolute;
	right: 10px;
	top:50%;
	margin-top: -7px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}