html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	font-family: sans-serif;
}
.wrap{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.test-form{
	
}
.test-form .row{
	position: relative;
	margin-bottom: 10px;
}
.test-form label{
	display: inline-block;
	width: 70px;
	font-size: 12px;
}
.test-form select,
.test-form input{
	display: block;
	position: absolute;
	left: 75px;
	right: 5px;
	top:0px;
}
.test-form .buttonRow{
	text-align: right;
}
.test-form a{
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}



.test-scroll .test-head{
	overflow: hidden;
	width: 100%;
}
.test-scroll .test-body
{
	width: 100%;
	overflow: auto;
}
.test-scroll table th{
	background: #eee;
}
.test-scroll table{
	table-layout: fixed;
	width: 1000px;
}
.test-scroll table th,
.test-scroll table td{
	border: 1px solid #ccc;
	width: 100px;
	height: 100px;
}


.ChildWidget{
	border: 1px solid #ccc;
	background: #eee;
	padding: 3px;
}
.ParentWidget{
	border: 1px solid #FFAFAF;
	background: #FCFFCE;
	padding: 3px;
	margin: 10px 0;
}
.ParentWidget h3{
	background: #494E9B;
	color: #fff;
	padding: 3px;
	margin: 3px 0;
}
.footer{
	background: #ff0000;
	color: #fff;
	padding: 3px;
	margin-top: 5px;
}
.basic{
	font-size: 12px;
}
.big{
	font-size: 18px;
}
.small{
	font-size: 9px;
}
.base-view.dev{
	border: 1px solid #ccc;
	background: #F3F4D2;
	/*top:5px;
	left:5px;
	right:5px;
	bottom: 5px;
	padding: 10px;*/
}
.dev.devblue{
	background: #C2C7ED;
}
.dev.devred{
	background: #F2C9C9;
}
.dev.devgreen{
	background: #D3F2D0;
}

/*custom icons for tree tests*/
.file-script,
.file-page,
.file-settings,
.folder-blue{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 21px;
	margin-right: 3px;
	background-image: url(../../resources/base-icons.png);
	background-repeat: no-repeat;
}
.folder-blue{
	background-position: 0px -40px;
	margin-left: 5px;
}
.file-script{
	background-position: -80px -40px;
}
.file-page{
	background-position: -140px -40px;
}
.file-settings{
	background-position: -120px -40px;
}